body {
    height: 100%;
    margin: 0;
    display: flex;
    overflow-x: hidden;
}

.search-page {
    width: 100vw; /* Utilisation de la largeur de la vue du navigateur */
    height: 100vh; /* Utilisation de la hauteur de la vue du navigateur */
}

.search-page .conteneur-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrer les éléments horizontalement */
}

#conteneurImages img {
    width: 300px;
    height: 450px;
    object-fit: cover; /* Assure que l'image remplit les dimensions spécifiées */
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.search-page .header {
    position: relative;
    width: 100vw;
    height: 150px;
    background-color: #000000;
}

.search-page .text-wrapper-2 {
    text-align: center;
    padding-top: 20px;
    font-family: Impact, fantasy;
    font-weight: 400;
    color: #f04747;
    font-size: 90px;
    letter-spacing: 0;
    line-height: normal;
}

.search-page .user-cicrle-duotone {
    position: absolute;
    height: 90px;
    width: 90px;
    top: 30px;
    right: 30px;
    cursor: pointer;
    border-radius: 50%; /* Rend la photo en forme de cercle */
    object-fit: cover;
}

.search-page .user-cicrle-duotone .img {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Rend la photo en forme de cercle */
    object-fit: cover;
}

.search-page .name-user {
    position: absolute;
    top: 40px;
    right: 150px;
    font-family: Roboto-Medium, Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 18.3px;
    cursor: pointer;
}

.deco {
    position: absolute;
    height: 20px;
    width: auto;
    top: 70%; /* Déplace le bouton vers le haut */
    right: 10%; /* Déplace le bouton vers la droite */
    background-color: #f04747; /* Couleur rouge */
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Ajuste la taille de la police */
    display: flex;
    align-items: center;
    justify-content: center;
}

.deco:hover {
    background-color: #a60606;
}

.middle{
    margin-top: 30px;
    width: 100vw;
    height: calc(100vh - header_height);
    align-items: center;
    display: flex;
    flex-direction: column; /* Assure que les éléments sont empilés verticalement */
    justify-content: center;
}

.search-page .input-field {
    width: 570px;
    height: 70px;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9; /* Ajout d'une bordure pour simuler un champ modifiable */
    border-radius: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 20px;
}



.search-page .text-wrapper-4 {
    margin:14px;
    height: 23px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.search-page .text-wrapper-5 {
    margin:14px;
    height: 23px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
