body {
    height: 100%;
    margin: 0;
    display: flex;
    overflow-x: hidden;
}

.profil-edit {
    background-color: #ffffff;
    width: 100vw; /* Utilisation de la largeur de la vue du navigateur */
    height: 100vh; /* Utilisation de la hauteur de la vue du navigateur */
}

.profil-edit .header {
    position: relative;
    width: 100vw;
    height: 150px;
    background-color: #000000;
}

.profil-edit .text-wrapper-2 {
    text-align: center;
    padding-top: 20px;
    font-family: Impact, fantasy;    
    font-weight: 400;
    color: #f04747;
    font-size: 90px;
    letter-spacing: 0;
    line-height: normal;
}


.profil-edit .user-cicrle-duotone {
    position: absolute;
    height: 90px;
    width: 90px;
    top: 30px;
    right: 30px;
    border-radius: 50%; 
    object-fit: cover;
}

.profil-edit .user-cicrle-duotone .img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover;
}

.profil-edit .name-user {
    position: absolute;
    top: 40px;
    right: 150px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 18.3px;
}

.profil-edit .deco {
    position: absolute;
    height: 20px;
    width: auto;
    top: 70%; 
    right: 10%; 
    background-color: #f04747; 
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.deco:hover {
    background-color: #a60606;
}


.profil-edit .user-cicrle-2 {
    height: 150px; 
    width: 150px; 
    margin: 10px;
    border-radius: 50%; 
    object-fit: cover;
    float: left;
}


.profil-edit .img {
    position: absolute;
    width: 23px;
    height: 29px;
    top: 10px;
    left: 13px;
}

.profil-edit .icon {
    width: 40px;
    height: 40px;
    padding-right: 20px;
}


.profil-edit .content-profil {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex : 1
}

.profil-edit .profil-section{
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    
}

.profil-section h2{
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

.profil-edit .avis-section{

    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    margin : auto 
}

.profil-edit .infos-profil-separate {
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    margin-top : 30px;
    text-align: left;
}


.profil-edit .text-wrapper-7 {
    height: 50px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    text-align: center;
}


.profil-edit .p {
    top: 73px;
    font-family: "SB Sans Display-Semibold", Helvetica;
    color: #000000;
    font-size: 12.1px;
    line-height: 15.7px;
    position: absolute;
    left: 89px;
    font-weight: 400;
    letter-spacing: 0;
}

.profil-edit .overlap-3 {
    position: absolute;
    width: 2223px;
    height: 1127px;
    top: -10095px;
    left: 1969px;
}

.profil-edit .img-2 {
    position: absolute;
    width: 1920px;
    height: 1080px;
}

.profil-edit .img-3 {
    top: 47px;
    left: 303px;
    position: absolute;
    width: 1920px;
    height: 1080px;
}

.profil-edit .delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px; 
    height: 30px; 
    cursor: pointer;
}

.profil-edit .delete-icon img,
.profil-edit .edit-icon img {
    width: 100%; 
    height: auto; 
}

.profil-edit .advices {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.advices .title-review {
    text-align: center;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
}

.profil-edit .sidebar {
    position: relative;
    height: 100vw;
    width: 20%; 
    background-color: black;
    padding: 20px;
}

.profil-edit .icon-button {
    background-color: #333; 
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    border-radius: 8px; 
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease; 
    height: 40px; 
    width: 95%; 
    justify-content: flex-start; 
    margin-top: 30px;
}

.icon-button:hover {
    background-color: #555; 
}

.icon-button .icon {
    width: 20px; 
    height: 20px;
    margin-right: 8px; 
}


.profil-edit .content {
    flex-direction: column;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex : 1
}


.reviews-container { 
    position: relative; 
    background-color: #ebeaea; 
    padding: 20px 20px 20px 20px; 
    margin: 20px; border-radius: 10px; 
    text-align: left;
    font-family: "Roboto-Medium", Helvetica;
    color: #000000;
}

.reviews-container .comment {
    border: 2px solid #a1a1a1; 
    padding: 10px; 
    margin-left: 128px; 
    margin-bottom: 20px;
    border-radius: 10px;
}

.reviews-container .movie-image {
    float: left;
    width: 120px; 
    height: 170px; 
    margin-right: 30px;
    margin-top: 10px;
}

.reviews-container .movie{
    font-family: "Montserrat-Regular", Helvetica;
    color: #000000;
    font-weight: bold;
}

.reviews-container .date {
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 130px;
}

.reviews-container .frame-2 {
    height: 28px;
    width:auto;
}

.reviews-container .image-top-right {
    background-color: #a1a1a1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px; 
    height: 50px;
}