body {
    height: 100%;
    margin: 0;
    display: flex;
}

.register-screen {
    width: 100vw; /* Utilisation de la largeur de la vue du navigateur */
    height: 100vh; /* Utilisation de la hauteur de la vue du navigateur */
}

.middle{
    width: 100vw;
    height: calc(100vh - header_height);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/background.jpg');    
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément */
}

.register-screen .form {
    margin-top: 50px;
    width: 526px;
    height: 600px;
}

.register-screen .header {
    position: relative;
    width: 100vw;
    height: 150px;
    background-color: #000000;
}

.register-screen .already-have-an {
    text-align: center;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #6d6d6d;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 11px;
}

.register-screen .span {
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 300px;
}

.register-screen .text-wrapper-5 {
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #f04747;
}

.register-screen .text-wrapper-6 {
    text-align: center;
    padding-top: 20px;
    font-family: Impact, fantasy;
    font-weight: 400;
    color: #f04747;
    font-size: 90px;
    letter-spacing: 0;
    line-height: normal;
}

.register-screen .input-field {
    width: 526px;
    height: 95px;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 20px;
}

.register-screen .login-button {
    width: 526px;
    height: 95px;
    background-color: #36c6f3;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    font-family: Roboto-SemiBold, Helvetica;
    letter-spacing: 0;
    line-height: 18.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.register-screen .login-button:hover {
    background-color: #0056b3; /* Changement de couleur au survol */
}

.error {color: red;}
